<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ViciousGPT.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ViciousGPT.Properties.Settings>
            <setting name="CharacterName" serializeAs="String">
                <value>Tav</value>
            </setting>
            <setting name="OpenAiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="GoogleServiceAccountPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedAct1" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedAct2" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedAct3" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OutputLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputIntermediaryResults" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserInputLanguage" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ControllerPlayerIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </ViciousGPT.Properties.Settings>
    </userSettings>
</configuration>
